.Summary__box {
  background: var(--color-alabaster);
  border-radius: 8px;
  padding: 24px;
}

.Summary__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Summary__plan-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.Summary__change {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-dark-gray);
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Summary__change:hover {
  color: var(--color-purplish);
  transition: color 0.3s ease;
}

.Summary__plan-price {
  font-weight: 700;
}

.Summary__plan {
  border-bottom: 1px solid var(--color-light-gray);
  padding-bottom: 24px;
}

.Summary__addons {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Summary__addon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Summary__addon-name {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-dark-gray);
}

.Summary__addon-price {
  font-weight: 400;
  font-size: 14px;
}

.Summary__total {
  padding: 0 24px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Summary__total-period {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-dark-gray);
}

.Summary__total-price {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-purplish);
}
