.Checkbox {
  width: 20px;
  height: 20px;
}

.Checkbox__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  margin: 0;
}

.Checkbox__input:checked + .Checkbox__label {
  background-color: var(--color-purplish);
  border-color: var(--color-purplish);
  transition: all 0.3s ease;
}

.Checkbox__label {
  background: url('/images/icon-checkmark.svg') center no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
